Repository idan-pl/irregular-metrics: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-type-check

frontend-lint:
  name: Frontend Lint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-type-check:
  name: Frontend Type Check
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

[Init] working system
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  run.sh
Due: frontend-lint

[Beautify]
  backend/models.py
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AdminPanel.tsx
  frontend/src/components/Dashboard.tsx
  frontend/src/components/MetricCard.tsx
  frontend/src/index.css
  frontend/src/types.ts
  frontend/tailwind.config.js
  run.sh
Due: frontend-lint, frontend-type-check

git ignore
  .gitignore
  .nvmrc
  package-lock.json
  package.json
Due: none

DB export, progress bar
  README.md
  backend/db_utils.py
  backend/main.py
  backend/manage_db.py
  backend/pyproject.toml
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Dashboard.tsx
  frontend/src/components/Gauge.tsx
  frontend/src/components/MetricCard.tsx
  install.bat
  install.sh
  package-lock.json
  package.json
  run.bat
  run.sh
Due: frontend-lint, frontend-type-check

Icons
  frontend/src/components/Gauge.tsx
  frontend/src/components/MetricCard.tsx
Due: frontend-lint, frontend-type-check

Better gauge
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Gauge.tsx
  package-lock.json
  package.json
Due: frontend-lint, frontend-type-check

[ssh] public key
  tv.pub
Due: none

[Install] update install
  backend/pyproject.toml
  install.sh
Due: none

Footer
  backend/uv.lock
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/AdminPanel.tsx
  frontend/src/components/Dashboard.tsx
Due: frontend-lint, frontend-type-check

[Dashboard] remove descriptions
  frontend/src/components/MetricCard.tsx
Due: frontend-lint, frontend-type-check

[Security] password
  .gitignore
  backend/seed_data.json
  frontend/src/components/AdminPanel.tsx
  install.sh
  run.sh
Due: frontend-lint, frontend-type-check

[Run] on host
  run.sh
Due: none

[Vite] add reverse proxy
  frontend/src/api.ts
  frontend/vite.config.ts
Due: frontend-lint, frontend-type-check

[Run] be independent of running direcory
  run.sh
Due: none

[Run] add node full path
  run.sh
Due: none

[Https]
  backend/main.py
  deploy/cloudflare-tunnel.sh
  deploy/nginx.conf
  deploy/setup.sh
  frontend/src/api.ts
  frontend/vite.config.ts
Due: frontend-lint, frontend-type-check

[metrics] service
  deploy/cloudflare-tunnel.sh
  deploy/nginx.conf
  deploy/setup.sh
Due: none

[Install] uv
  deploy/setup.sh
  run.sh
Due: none

[Nginx] config
  deploy/nginx.conf
Due: none

[Service] add to source
  deploy/irregular-metrics.service
  deploy/nginx.conf
Due: none

[uv] add to path
  run.sh
Due: none

Path conditions:
  frontend-lint: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  frontend-type-check: any of: ^frontend/ and \.(ts|mts|cts)$, \.tsx$
